<%= link_to '商品登録', new_item_path %>
<%= link_to 'CSV出力', items_path(format: :csv) %>

<div class="contents row">
  <% @items.each do |item| %>
      <p><%= item.product %></p>
      <p><%= item.client.name %></p>
  <% end %>
</div>